@font-face {
  font-family: 'ChevyRay BirdSeed';
  src: url("../Fonts/ChevyRayBirdSeed.ttf");
}

/* line 25, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
.spacer {
  flex-grow: 1;
  background-color: #f9e284;
}

/* line 30, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
html {
  background-color: #a97ecc;
}

/* line 35, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
a:link {
  color: #f9e284;
  text-decoration: none;
}

/* line 39, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
a:visited {
  color: #f9e284;
  text-decoration: none;
}

/* line 43, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
a:hover {
  color: #ddb942;
  text-decoration: none;
}

/* line 47, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
a:active {
  color: #f9e284;
  text-decoration: none;
}

/* line 53, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
#wrapper, html, body {
  height: 100%;
  margin: 0;
  color: #ffffff;
}

/* line 59, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
#background {
  content: "";
  background-image: url("../Images/fancy-cushion.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* line 71, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
body {
  font-family: "ChevyRay BirdSeed";
  font-size: 15px;
}

/* line 76, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
button {
  font-family: "ChevyRay BirdSeed";
  color: #f9e284;
  border: 0;
  background-color: #a97ecc;
  margin: 5px;
  padding: 5px;
}

/* line 86, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
#wrapper {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: column;
  flex-grow: 0;
  text-align: center;
}

/* line 91, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
header {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: row;
  flex-grow: 0;
  padding: 30px;
  justify-content: safe center;
}

/* line 96, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
header #portrait {
  margin: 20px;
}

/* line 98, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
header #portrait img {
  border: 2px solid #f9e284;
  vertical-align: middle;
}

/* line 104, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
header #text {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: row;
  flex-grow: 3;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  vertical-align: middle;
}

/* line 115, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: row;
  flex-grow: 3;
  height: 40%;
}

/* line 119, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #creation-side {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: column;
  flex-grow: 1;
  height: 90%;
  background-color: #f9e284;
  margin: 5px;
  margin-left: 20px;
  padding: 10px;
  border: 5px solid #ddb942;
  color: #3c165b;
}

/* line 129, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #creation-side #buttons {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: column;
  flex-grow: 1;
}

/* line 133, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #creation-side #material-list {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  margin-top: 20px;
  justify-content: left;
  text-align: left;
}

/* line 141, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #creation-side #material-list .material {
  margin: 5px;
}

/* line 147, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #make-side {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: column;
  flex-grow: 2;
  height: 100%;
  width: 200px;
  margin: 5px;
  margin-right: 20px;
  padding: 10px;
}

/* line 155, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #make-side #gold {
  flex-grow: 2;
}

/* line 159, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #make-side #potion-list {
  display: flex;
  justify-content: safe space-evenly;
  flex-direction: column;
  flex-grow: 5;
  height: 100%;
  overflow-y: auto;
  margin-top: 20px;
}

/* line 165, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #make-side #potion-list .potion {
  margin: 5px;
}

/* line 168, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #make-side #potion-list .potion .sell {
  color: #3c165b;
}

/* line 174, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
main #make-side button {
  background-color: #f9e284;
  color: #a97ecc;
}

/* line 181, C:/Users/ninab/Documents/Code/javascript/PotionMaker/Sass/style.scss */
footer {
  justify-content: center;
  padding: 30px;
}

/*# sourceMappingURL=../Styles/style.map */